build/
build-*/
out/
.vs/
*.user
*.wav
__pycache__/
ThirdParty/
*.keystore
Textures/
Tools/TextureGen/.venv/
__pycache__/
Wavetables/
Impulses/
Library/Textures/
Library/Wavetables/
Library/*.log
Tools/library/texture_jobs.json
Library/Impulses/
